.editor-toolbar {
    position: relative;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 100px;
    margin: auto;
}

.editor-toolbar button.active {
    background: #ddd;
    border: 1px solid #aaa;
}

.custom-text-editor p {
    margin-block-end : .3rem;
}

.text-editor-container {
    position: relative;
    padding-top: 50px; /* Altezza della toolbar */
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.custom-text-editor {
    width: 100%;
    height: calc(100% - 50px); /* Altezza totale meno l'altezza della toolbar */
    border: none;
    background: transparent;
    color: #000;
    resize: none;
    box-sizing: border-box;
    outline: none;
    overflow: visible;
    font-size: 14px; /* Dimensione del font reattiva e leggermente più piccola di 16px */
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

@media (max-width: 768px) {
    .text-editor-container {
        padding-top: 40px; /* Altezza della toolbar per dispositivi piccoli */
    }

    .editor-toolbar {
        font-size: 14px;
    }

    .custom-text-editor {
        font-size: 14px; /* Dimensione del font reattiva per schermi piccoli */
    }
}
